@charset "UTF-8";

html {
  font-size: 100%;
  }
* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  }

body {
  position: relative;

  padding: 0;
  margin: 0;

  font-family: "M PLUS Rounded 1c",sans-serif;
  color: #422a13;

  background-color: #f6f3ef;
  }

img {
  display: block;

  max-width: 100%;
  }
h1,
h2,
h3 {
  font-family: "Poiret One", "M PLUS Rounded 1c",cursive;
  text-align: center;
  color: #a67c52;
  }
p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  color: #422a13;
  }
.container {
  max-width: 900px;
  margin: 0 auto;

  align-items: center;
  }


/*ナビ
-----------------------------------------------------*/

.nav {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;

  width: 100%;
  height: 60px;

  background-color: rgba(246, 243, 239, .8);

  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  }
.nav ul {
  display: flex;

  height: 100%;
  padding: 0;
  margin: 0;

  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  list-style: none;
  }
.nav a {
  display: inline-block;

  padding: 5px 10px;

  font-weight: 500;
  line-height: 1.5;
  color: #a67c52;

  background-color: #fff;
  border-radius: 10px;

  transition: background-color .3s;

  text-decoration: none;
  }
.nav a:hover {
  background-color: #f5e6cc;
  }
.nav a.active {
  color: #fff;

  background-color: #c39c89;

  }

.hamburger {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;

  width: 25px;
  height: 20px;

  transform: none;

  cursor: pointer;

  flex-direction: column;
  justify-content: space-between;
  }
.hamburger span {
  height: 3px;

  background-color: #a67c52;
  border-radius: 2px;

  transition: all .3s;
  }
.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;

  width: 70%;
  height: 100%;
  padding: 60px 20px;

  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0,0,0,.1);
  }
.mobile-nav ul {
  padding: 0;

  list-style: none;
  }
.mobile-nav li {
  margin-bottom: 20px;
  }
.mobile-nav a {
  font-size: 1.2rem;
  color: #a67c52;

  text-decoration: none;
  }

/*ヘッダー
----------------------------------------------------*/
.hero-section {
  position: relative;

  width: 100%;
  height: 700px;

  overflow: hidden;
  }
.main-photo {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;

  width: 80%;
  height: 100%;

  transition: opacity 1s ease-in-out;

  opacity: 0;

  filter: brightness(1.1);
  object-fit: cover;
  }
.main-photo.active {
  z-index: 1;

  opacity: 1;
  }
.title-text {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 30%;
  height: 90%;

  background-color: #f5e6cc;
  box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.3);
  align-items: center;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  justify-content: center;
  }
.title-text h1 {
  font-family: "Poiret One";
  font-size: 5rem;
  color: #c39c89;
  }

.site-header {
  display: flex;
  position: relative;

  background-color: #fff;

  align-items: center;
  justify-content: space-between;
  }
.site-title {
  display: inline-block;
  z-index: 10;

  padding: 20px 30px;

  font-family: "Poiret One",cursive;
  font-size: 2rem;
  text-align: left;
  color: #c39c89;

  background-color: #f5e6cc;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 0;
  border-top-right-radius: 50px;
  }

/*アバウト
----------------------------------------------------*/
.about {
  display: flex;

  padding: 20px;

  text-align: center;

  background-color: white;

  align-items: center;
  justify-content: center;
  min-height: 300px;
  }
h2 {
  font-family: "Poiret One";
  font-size: 2rem;
  text-align: center;
  color: #a67c52;

  margin-bottom: 50px;
  }

/*猫ちゃん
----------------------------------------------------*/
.cats-area {
  display: flex;

  padding: 20px;

  align-items: center;
  justify-content: center;
  margin-top: 50px;
  }
.cat-box {
  display: flex;

  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 60px;
  }
.cat-box.reverse {
  flex-direction: row-reverse;
  }
.cat-box a img {
  width: 300px;
  height: 300px;

  transition: transform .3s ease;

  margin-right: 50px;
  object-fit: contain;
  }
.cat-box.reverse a img {
  margin-left: 50px;
  margin-right: 0;
  }
.cat-box a img:hover {
  transform: scale(1.05);
  }
.cat-text h3 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;

  margin-bottom: 30px;
  }
.cat-text {
  width: 300px;

  line-height: 1.6;
  }

/*プロフィール
----------------------------------------------------*/
.profile-container {
  display: flex;

  padding: 40px 20px;

  align-items: center;
  flex-direction: column;
  }
.profile-section {
  padding: 3rem 1rem;

  background-color: #fff;
  }
.profile-inner {
  max-width: 100%;
  margin: 0 auto;
  }
.profile {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  }
.profile-photo {
  width: 300px;
  height: auto;

  border-radius: 20px;
  }
.profile-text {
  max-width: 400px;
  }
.profile-text h3 {
  font-size: 1.8rem;

  margin-bottom: 20px;
  }
.profile-text p {
  margin: 10px 0;
  }

/*ギャラリー
----------------------------------------------------*/
.gallery {
  padding: 20px;

  text-align: center;
  }
.gallery h3 {
  margin-bottom: 30px;
  }
.gallery-photos {
  display: grid;

  max-width: 800px;
  margin: 0 auto;

  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  }
.gallery-photos img {
  width: 100%;
  height: auto;

  border-radius: 10px;

  transition: transform .3s ease;

  object-fit: cover;
  }
.gallery-photos img:hover {
  transform: scale(1.05);
  }

/*フッター
----------------------------------------------------*/
.footer {
  padding: 30px 20px;

  font-size: .9rem;
  text-align: center;
  color: #a67c52;

  background-color: white;
  }
.footer a {
  color: #a67c52;

  text-decoration: none;
  }
.footer a:hover {
  text-decoration: underline;
  }

/*スマホ
-----------------------------------------------------*/
@media (max-width: 767px) {
  .hero-section {
    display: flex;

    height: 250px;

    flex-direction: row;
    flex-wrap: wrap;
    }

  .hamburger {
    display: flex;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
    }
  .nav {
    display: none;
    }
  .cat-box,
  .cat-box.reverse {
    text-align: center;

    align-items: center;
    flex-direction: column !important;
    }
  .cat-box a {
    display: block;

    text-align: center;
    }
  .cat-box a img {
    display: inline-block;

    width: 80%;
    height: 100%;
    margin: 0 0 20px 0;

    }
  .cat-box.reverse a img {
    margin-left: 0;
    margin-right: 0;
    }
  .cat-text {
    max-width: 90%;
    }

  .title-text {
    display: flex;

    width: 100%;
    height: 200px;
    max-width: 30%;
    padding: 10px 5px;
    margin: 0 auto;

    font-size: 12px;

    align-items: center;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    justify-content: center;
    }
  .title-text h1 {
    font-size: 2rem;
    text-align: center;
    }
  .main-visual img {
    width: 80%;
    height: 100%;
    }
  .main-photo {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;

    width: 100%;
    height: 100%;

    transition: opacity 1s ease-in-out;

    opacity: 0;

    object-fit: cover;
    }
  .main-photo.active {
    z-index: 1;

    opacity: 1;
    }
  .gallery-photos {
    grid-template-columns: 1fr;
    }
  .site-title {
    font-size: 1.4rem;
    padding: 6px 20px;
  }  
  }

/*タブレット
----------------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero-section {
    height: 500px;
  }
  .title-text {
    height: 80%;

  }
  .title-text h1 {
    font-size: 3.5rem;
  }
  .nav {
    display: block;
    height: 55px;
    }

  .nav ul {
    display: flex;

    padding: 0;
    margin: 0;

    gap: 15px;
    list-style: none;
    }
  
  .nav a {
    font-size: 0.9rem;
    padding: 4px 8px;
  }  
  .nav li a {
    font-weight: 500;

    text-decoration: none;
    }
  .site-title {
    font-size: 2rem;
    padding: 8px 25px;
  }  
  /* モバイル用ナビ非表示 */
  .mobile-nav,
  #hamburger {
    display: none !important;
    }
  }
